<h1>Bonjour! S'il vous plaît merci de confirmer votre adresse mail!</h1>

<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">confirmer mon email</a>.
    Ce lien expirera dans{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
  Merci !
</p>
