<div class="col-lg-9 category-post-style1">
          <div class="ts-heading clearfix">
            <h3 class="ts-title text-uppercase">Les derniers Appels à projets</h3>
          </div>
          <!-- ts title end-->

          <div class="row mb-30  featurette">
            <div class="col-lg-7">
              <div class="ts-post-thumb">
                <a href="appel_azobe.html">
                  <img class="img-fluid" src="images/appel_projet/appel1.png" alt="">
                </a>
              </div>
            </div>
            <!-- end col-->
            <div class="col-lg-5 align-self-center">
              <div class="post-content links">
                <h3 class="post-title md">
                  <a href="">2ème Appel à projets "Azobé" Spécial artisans du Gabon</a>
                </h3>
                <ul class="post-meta-info">
                  <li>
                    <strong class="date  text-danger">
                      <i class="fa fa-clock-o  px-2"></i>
                      Expire le 18 février 2021 à 18h00
                    </strong>
                  </li>

                </ul>
                <p>
                  La délégation de l’Union Européenne et l’Ambassade de France au Gabon lancent un Appel à Projets Azobé dédié aux artisans du Gabon. Cet appel à projets concerne les associations, GIE, coopératives, fédérations et confédérations et ordres professionnels d’artisans exerçant au Gabon.
                </p>

                <a class="btn btn-primary mb-2" href="appel_azobe.html">
                  <i class="fa fa-plus-circle mx-2"></i>Consulter</a>
              </div>
            </div>
            <!-- col end-->
          </div>
          <!-- row end-->

          <hr class="featurette-divider">
          <!-- ts title item end-->

          <div class="row mb-10 featurette">
            <div class="col-lg-7  order-md-2">
              <img class="img-fluid" src="images/appel_projet/appel2.png" alt="">
            </div>

            <div class="col-lg-5 align-self-center order-md-1">
              <div class="post-content links">
                <h3 class="post-title md">
                  <a href="concours.html">Appel à projets Azobé</a>
                </h3>
                <ul class="post-meta-info">
                  <li>
                    <strong class="date  text-danger">
                      <i class="fa fa-clock-o  px-2"></i>
                      A expiré le 28 février 2020</strong>
                  </li>

                </ul>
                <p>
                  La délégation l’Union européenne et l’Ambassade de France lancent l’appel à projets Azobé. Cet appel permet le financement de projets portés par les acteurs non gouvernementaux gabonais dans les domaines du développement durable, du numérique et de l’artisanat.
                </p>

                <a class="btn btn-primary mb-3" href="concours.html">
                  <i class="fa fa-plus-circle mx-2"></i>Consulter</a>
              </div>
            </div>
            <!-- col end-->
          </div>
          <!-- row end-->
        </div>