 {{ form_start(registrationForm) }}
						 <h4 class="log-sign-title mb-25 blue-color text-center h1">
						 	Information liées à votre organisation
							 <i class="fa fa-edit blue-color" aria-hidden="true"></i>
						 </h4>
								<p class="text-right pt-3 pb-4 blue-color">Tous les champs sont obligatoires (*)</p>
								{# <div class="form-row">
									<div class="col-lg-6 col-md-4 form-group">
										{{form_row(registrationForm.denomination,{ 'label': 'Dénomination (*)' })}}
									</div> <!-- form-group end.// -->
									<div class="col-lg-6 col-md-4 form-group">
										{{form_row(registrationForm.sigle, {'label':'Sigle (Optionnel)'})}}
									</div>
									<!-- form-group end.// -->
								</div> #}
                                {# <div class="form-row">
									<div class="col-lg-6 col-md-4 form-group">
										  {{form_row(registrationForm.statut_juridique, {'label':'Statut Juridique (*)'})}}
									</div>
									<div class="col-lg-6 col-md-4 form-group">
										 {{form_row(registrationForm.adresse,{ 'label': 'Adresse (*)' })}}
									</div>
								</div>
								 #}
								{# <div class="form-row">
									<div class="col-lg-6 col-md-4 form-group">
										 {{form_row(registrationForm.date_creation, {'label':'Date de création (*)'})}}
									</div>
									<div class="col-lg-6 col-md-4 form-group">
										  {{form_row(registrationForm.numero_recepisse, {'label':'Numéro de récépicée (*)'})}}
									</div>
								</div> #}

								{# <div class="form-row">
									<div class="form-group col-md-6">
                                          {{form_row(registrationForm.province, {'label':'Province (*)'})}}
									</div>
									<div class="form-group col-md-6">
                                         {{form_row(registrationForm.ville, {'label':'Ville (*)'})}}
									</div>
								</div> #}
								<!-- form-row.// -->

								{# <div class="form-row">
									<div class="form-group col-md-6">
										  {{ form_row(registrationForm.lastname, {'label':'Nom (*)'}) }}
									</div> <!-- form-group end.// -->
									<div class="form-group col-md-6">
										{{form_row(registrationForm.firstname, {'label':'Prénom (*)'})}}
									</div>
									<!-- form-group end.// -->
								</div> #}
								<!-- form-row.// -->

								{# <div class="form-row">
									<div class="form-group col-md-6">
                                        {{form_row(registrationForm.phone_number, {'label':'Téléphone 1 (*)'})}}
									</div>
									<div class="form-group col-md-6">
										{{form_row(registrationForm.phone_number2, {'label':'Téléphone 2 (Optionnel)'})}}
									</div>
								</div> #}
								<!-- form-row.// -->
{# 
                                <div class="form-row">
									<div class="form-group col-md-6">
                                        {{ form_row(registrationForm.email,{'label':'Email 1 (*)'}) }}
									</div>
									<div class="form-group col-md-6">
										{{form_row(registrationForm.mail_contact2, {'label':'Email 2 (Optionnel)'})}}
									</div>
								</div> #}

                                {# <div class="form-row">
									<div class="form-group col-md-6">     
                                        {{form_row(registrationForm.social_objet,{'label':'Objet Social (*)'})}}
									</div>
									<div class="form-group col-md-6">
										{{form_row(registrationForm.description_activite,{'label':'Description de l\'activité'})}}
								    </div>
								</div> #}
                               
                                {# <div class="form-row">
									<div class="col-lg-4 form-group">
										{{form_row(registrationForm.groupe_activite,{'label':'Groupe d\'activité (*)'})}}
									</div>
									<div class="col-lg-3 form-group">
										 {{form_row(registrationForm.site_internet,{'label':'Lien Facebook (*)'})}}
									</div>
									<div class="col-lg-5 form-group">
										 {{form_row(registrationForm.lien_facebook,{'label':'Lien site internet (*)'})}}
									</div>
								</div> #}

								{# <div class="form-row">
									<div class="col-md">
										 {{ form_row(registrationForm.plainPassword,{'label':'Mot de passe (*)'}) }}
									</div>
								</div> #}
								
								{# <div class="form-group">
									<div class="maxl">
										<label class="radio inline ml-5">
											 {{ form_row(registrationForm.agreeTerms) }}
											<!-- checked -->
											<span class="inscription_terms"> J'ai lu et j'accepte <a href="{{path('cgu_conditions')}}" target="_blank">les
													Conditions Générales d'Utilisation</a> et <a href="{{path('cgu_conditions')}}" target="_blank">la
													Politique de
													Protection des Données Personnelles.</a> 
                                            </span>
										</label>
									</div>
								</div> #}

								<div class="form-group text-center links">
                                      <button type="submit" class="btn">Register</button>
								</div> <!-- form-group// -->
							 {{ form_end(registrationForm) }}