
     

      <!-- Partie des articles -->
      <section class="single-post-wrapper post-layout-6 p-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="single-big-img mb-30" style="background-image: url('images/publications/alaune/une21.jpg')"></div>
            </div>

          </div>
          <div class="row">
            <div class="col-lg-9">
              <div class="ts-grid-box content-wrapper single-post">
                <ol class="ts-breadcrumb pt-3">
                  <li>
                    <a href="index.html">
                      <i class="fa fa-home"></i>
                      Accueil
                    </a>
                  </li>
                  <li>
                    <a href="#">À la une</a>
                  </li>
                  <li>
                    <a href="archives.html">Archives 2019</a>
                  </li>
                  <li>
                    <a href="#" style="color: #004e7c;">Lancement des missions de coaching Actifs Gabon</a>
                  </li>

                </ol>
                <!-- single post header end-->

                <div class="post-content-area pt-3">
                  <div class="entry-content">
                    <div class="entry-header">
                      <h3 class="post-title pb-2">Lancement des missions de coaching ACTIF Gabon</h3>
                      <ul class="post-meta-info">
                        <li>
                          <a href="#" class="post-cat" id="post-cat">ARCHIVE</a>
                        </li>
                        <li class="author">
                          <a href="apropos.html">
                            <img src="images/avater/avatar_4.png" alt="">
                            © CRSC AZOBE
                          </a>
                        </li>
                        <li>
                          <i class="fa fa-clock-o"></i>
                          21 octobre 2020
                        </li>
                        <li class="active">
                          <i class="fa fa-eye mx-2"></i>
                          0
                        </li>
                        <li class="share-post">
                          <a href="" style="pointer-events: none;">
                            <i class="fa fa-share"></i>
                          </a>
                        </li>
                        <li class="share-post">
                          <a href="https://www.facebook.com/Azobe.CRSC/">
                            <i class="fa fa-facebook"></i>
                          </a>
                        </li>
                        <li class="share-post">
                          <a href="https://twitter.com/AzobeCrsc">
                            <i class="fa fa-twitter"></i>
                          </a>
                        </li>
                        <li class="share-post">
                          <a href="https://www.instagram.com/azobe.crsc/?fbclid=IwAR1TYF7zhX_nHjLzvzPrIHshYs_SzFxhd3O1AWavv_LBYaBaCXnKOoucT8c">
                            <i class="fa fa-instagram"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <!-- ts grid item end-->

                    <blockquote id="blockquote">
                      Le Lancement des missions de coaching du Programme "ACTIF Gabon" à Libreville et Port-Gentil.
                    </blockquote>

                    <p>
                      Le Ministre du Commerce, des Petites et Moyennes Entreprises et de l'Industrie et le Conseiller de coopération et d'action culturelle de l'Ambassade de France ont conjointement, lancé la session de formation des responsables provinciaux du projet et des futurs chefs d'entreprises ce mardi 20 octobre 2020 dans les locaux de la Société d'Incubation Numérique du Gabon (SING).
                    </p>

                    <div class="post-video">
                      <img class="img-fluid" src="images/publications/alaune/une23.JPG" alt="">
                      <p class="text-bg">Discours du Ministre pendant le Lancement des missions de coaching<br>
                        © CRSC AZOBE</p>
                    </div>

                    <p>
                      Le programme ACTIF de l'Ambassade de France vise à accompagner les efforts de l'État Gabonais dans la rédynanisation du secteur de l'artisanat.
                    </p>

                    <div class="post-video">
                      <img class="img-fluid" src="images/publications/alaune/une22.JPG" alt="">
                      <p class="text-bg">L'Attachée de Coopération Aurelie DANIELI tenant son discours © CRSC AZOBE</p>
                    </div>

                    <p>
                      Cette session, qui s'est déroulée en vidéoconférence, a été lancée simultanément à Libreville et Port-Gentil en présence des représentants de l'Institut français du Gabon et de quelques partenaires au développement.
                      <br>
                      Il est mis en œuvre en partenariat avec la CMA France qui coache les experts de la future chambre des métiers de l'artisanat du Gabon dans l'accompagnement de la création de futures entreprises.
                    </p>
                  </div>
                  <!-- entry content end-->
                </div>

                <div class="source pb-4">

                  <p class="timestamp">
                    Dernière modification : 19/05/2020
                  </p>
                </div>
              </div>
              <div class="comments-form ts-grid-box">
                <h4 class="title title-small">0 Commentaire</h4>
                <form role="form" class="ts-form">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input class="form-control" name="name" id="name" placeholder="Votre nom" type="text" required="">
                      </div>
                      <!-- form group end-->
                      <div class="form-group">
                        <input class="form-control" name="email" id="email" placeholder="Votre e-mail" type="email" required="">
                      </div>
                      <!-- form group end-->
                    </div>
                    <!-- Col end -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <textarea class="form-control msg-box" id="message" placeholder="Votre commentaire" rows="10" required=""></textarea>
                      </div>
                    </div>
                    <!-- Col end -->

                    <div class="col-lg-12">
                      <p class="comment-form-cookies-consent">
                        <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes">
                        <label for="wp-comment-cookies-consent">Je ne suis pas un robot.</label>
                      </p>
                    </div>

                    <div class="clearfix links">
                      <button class="comments-btn btn btn-primary" type="submit">Ajouter un commenter</button>
                    </div>
                  </div>
                </form>
                <!-- Form end -->
              </div>
            </div>
            <!-- col end -->
            <div class="col-lg-3">
              <div class="right-sidebar">
                <div class="ts-grid-box widgets ts-social-list-item">
                  <div class="widgets widget-banner">
                    <h3 class="widget-title">
                      Rejoignez-nous
                    </h3>
                    <ul class="sociaux">
                      <a href="https://www.facebook.com/Azobe.CRSC/" target="_blank" class="fa fa-facebook"></a>
                      <a href="https://twitter.com/AzobeCrsc" class="fa fa-twitter" target="_blank"></a>
                      <a href="https://www.instagram.com/azobe.crsc/?fbclid=IwAR1TYF7zhX_nHjLzvzPrIHshYs_SzFxhd3O1AWavv_LBYaBaCXnKOoucT8c" target="_blank" class="fa fa-instagram"></a>
                    </ul>
                  </div>
                </div>
                <!-- widgets end-->

                <div class="widgets widget-banner">
                  <a href="#">
                    <img class="img-fluid" src="images/banner/vignette.jpg" alt="">
                  </a>
                </div>
                <!-- widgets end-->

                <div class="ts-grid-box widgets tag-list mt-4 ml-1">
                  <h3 class="widget-title">Mots clés</h3>
                  <ul>
                    <li>
                      <a href="https://ga.ambafrance.org/" target="_blank">Ambassade de France au Gabon</a>
                    </li>
                    <li>
                      <a href="concours.html" target="_blank">Appel à projet
                      </a>
                    </li>
                    <li>
                      <a href="#">Okume
                      </a>
                    </li>
                    <li>
                      <a href="https://europa.eu/european-union/index_fr" target="_blank">Union Européenne
                      </a>
                    </li>
                    <li>
                      <a href="#">Bois
                      </a>
                    </li>
                    <li>
                      <a href="#">Innovation
                      </a>
                    </li>
                    <li>
                      <a href="https://www.institutfrancais-gabon.com/" target="_blank">Institut Français du Gabon
                      </a>
                    </li>
                    <li>
                      <a href="#">BTP
                      </a>
                    </li>
                    <li>
                      <a href="#">Habitat
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- Section mots clés_articles -->

                <div class="widgets ts-grid-box  widgets-populer-post">
                  <h3 class="widget-title">Dans la même rubrique</h3>
                  <div class="ts-overlay">
                    <div class="item">
                      <div class="ts-post-thumb">
                        <a class="post-cat" id="post-cat" href="#">A LA UNE</a>
                        <a href="#">
                          <img class="img-fluid" src="images/publications/alaune/une6.jpg">
                        </a>
                      </div>
                      <div class="post-content">
                        <h3 class="post-title">
                          <a href="single-post-3.html">
                            Rencontre avec les lauréats de l’appel à projet du centre de ressources AZOBE
                          </a>
                        </h3>
                        <ul class="post-meta-info d-flex">
                          <li>
                            <i class="fa fa-clock-o"></i>
                            13 novembre 2020
                          </li>
                          <li>
                            <a href="category-1.html#" class="color-grey">
                              <i class="fa fa-comments"></i>
                              0
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <!-- ts-overlay-style end-->

                  <div class="post-content media">
                    <div class="media-body align-self-center">
                      <h3 class="post-title">
                        <a href="single-post-1.html">Signature d’une convention de partenariat entre l’Agence française de Développement (AFD) et Ogooué Labs.</a>
                      </h3>
                      <ul class="post-meta-info d-flex">
                        <li>
                          <i class="fa fa-clock-o"></i>
                          19 novembre 2020
                        </li>
                        <li>
                          <a href="#" class="color-grey">
                            <i class="fa fa-comments"></i>0
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <hr>
                  <!-- post content end-->

                  <div class="post-content media">
                    <div class="media-body align-self-center">
                      <h3 class="post-title">
                        <a href="single-post-2.html">Azobe, lance une première enquête sur les artisans résidants au Gabon</a>
                      </h3>
                      <ul class="post-meta-info d-flex">
                        <li>
                          <i class="fa fa-clock-o"></i>
                          26 décembre 2020
                        </li>
                        <li>
                          <a href="#" class="color-grey">
                            <i class="fa fa-comments"></i>0
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- post content end-->
                </div>
                <!-- widgets end-->
              </div>
            </div>
            <!-- right sidebar end-->
            <!-- col end-->
          </div>
          <!-- row end-->
        </div>
        <!-- container-->
      </section>
      <!-- Fin partie des articles-->

      