<!-- ts-footer-4 start -->
<footer class="ts-footer ts-footer-4">
	<div class="container">
		<div class="row footer-top">
			<div class="col-md-6">
				<div class="footer-logo">
					<a href="#">
						<img src="images/logo/logo_4.png" alt="" width="150">
					</a>
				</div>
			</div>
			<!-- col end-->
			<div class="col-md-6 align-self-center">
				<ul class="footer-social-list text-right">
					<li class="ts-facebook">
						<a href="https://www.facebook.com/Azobe.CRSC" title="Nous suivre sur facebook" target="_blank">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
					<li class="ts-twitter">
						<a href="https://twitter.com/AzobeCrsc" title="Nous suivre sur twitter" target="_blank">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li class="ts-instagram">
						<a href="https://www.instagram.com/azobe.crsc/?fbclid=IwAR1TYF7zhX_nHjLzvzPrIHshYs_SzFxhd3O1AWavv_LBYaBaCXnKOoucT8c" target="_blank" title="Nous suivre sur instagram">
							<i class="fa fa-instagram"></i>
						</a>
					</li>
					<li class="ts-mail">
						<a class="ts-mail" href="azobe@institutfrancais-gabon.com" title="Envoyer par mail" target="_blank">
							<i class="fa fa-envelope"></i>
						</a>
					</li>
				</ul>
			</div>
			<!-- col end-->
		</div>
		<!-- row end-->
		<div class="border-top mb-60"></div>
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="footer-widget">
					<h4 class="widget-title">Nos services</h4>
					<ul>
						<li class="active">
							<a href="index.html">Accueil</a>
						</li>
						<li>
							<a href="apropos.html">Qui sommes-nous</a>
						</li>
						<li>
							<a href="appel_projets.html">Appel à Projets</a>
						</li>
						<li>
							<a href="document.html" style="pointer-events: none;">Fonds documentaires</a>
						</li>
						<li>
							<a href="archives.html">Archives à la Une</a>
						</li>
					</ul>
				</div>
				<!-- footer widget end-->
			</div>
			<!-- col end-->
			<div class="col-lg-3 col-md-6">
				<div class="footer-widget">
					<h4 class="widget-title">Nos coordonnées</h4>
					<div class="box">
						<div class="box-text">
							<p>Institut Français du Gabon
								<br>
								Boulevard Triomphal -
								<br>
								BP 2103 -
																		Libreville<br class="manualbr">Tél.
																		(+241) 65 07 78 57
								<br class="manualbr">
							</p>
							<p>Pour toute question ou demande de renseignement, n'hésitez pas à
								<a style="pointer-events: none;" href="us-contact.html" class="spip_in text-primary">nous contacter</a>
							</p>
							<br>

						</div>
					</div>
				</div>
				<!-- footer widget end-->
			</div>
			<!-- col end-->
			<div class="col-lg-6 col-md-6">
				<div class="footer-widget">
					<div class="ts-grid-box ts-grid-content">
						<div class="ts-post-thumb">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.717423378212!2d9.436545114094308!3d0.4074750639933103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x107f3b75f010ded9%3A0x69580da1ca3b0c28!2sInstitut%20fran%C3%A7ais%20du%20Gabon!5e0!3m2!1sfr!2sga!4v1601039989462!5m2!1sfr!2sga" width="700" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
						</div>
					</div>
				</div>
				<!-- footer widget end-->
			</div>
			<!-- col end-->
		</div>
	</div>
	<!-- container end-->
</footer>
<!-- ts-footer-4 end -->

<!-- ts-footer-2 start -->
<footer class="ts-footer ts-footer-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="footer-menu text-center">
					<ul>
						<li>
							<a href="faq.html">Foire Aux Questions (FAQ)</a>
						</li>
						<li>
							<a href="{{path('cgu_conditions')}}">Mentions légales</a>
						</li>
						<li>
							<a href="{{path('cgu_conditions')}}">Politique de confidentialité</a>
						</li>
						<li>
							<a href="#" style="pointer-events: none;">Données personnelles</a>
							<!-- <a href="#">Termes &amp; Conditions</a> -->
						</li>
					</ul>
				</div>
				<div class="border-top mb-2"></div>
				<div class="copyright-text text-center">
					<p class="text-white">©2019-2020<span href="#" class="text-primary">
							Azobe/Gabon</span>.
															Tous
															droits
															réservés.</p>
				</div>
			</div>
			<!-- col end -->
		</div>
		<!-- row end -->
		<div id="back-to-top" class="back-to-top">
			<button class="btn btn-primary" title="Back to Top">
				<i class="fa fa-angle-up"></i>
			</button>
		</div>
		<!-- Back to top end -->
	</div>
	<!-- Container end-->
</footer>
