{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
   

   
       

     

    <div class="row">
				<div class="col-lg-5 mx-auto">
                 <h1>Réinitialisez votre mot de passe</h1>
					<div class="ts-grid-box" id="ts-grid-box">
                    <div class="message-flash">
                        
                    </div>
						<div class="login-page">
						

							<form method="post">
                                  {{ form_start(requestForm) }}
								
								<div class="form-group">
									
                                    {{ form_row(requestForm.email) }}
								</div>
								<div class="checkbox pull-right">
									 <div>
                                    <small>
                                        Entrez votre adresse e-mail et nous vous enverrons un
                                            lien pour réinitialiser votre mot de passe.
                                    </small>
                                    </div>
								</div>
								   <button class="btn btn-primary">Envoyer un e-mail de réinitialisation du mot de passe</button>
                                    {{ form_end(requestForm) }}
							</form>
						</div>
					</div><!-- grid box end -->
				</div>
				<!-- col end-->

			</div>

{% endblock %}

