

/*----------- body  content css ---------*/
.header-box-transprent .ts-main-menu .right-menu li .nav-search{
    border-left: 1px solid #F94340;
}
.header-box-transprent .ts-main-menu .right-menu li a{
    border-right: 1px solid #F94340;
}

.widgets .category-list li a span{
    border-radius: 3px;
}
.widgets{
    margin-bottom: 38px;
}
.ts-grid-box{
    margin-bottom: 40px;
}
.widgets-populer-post.widgets .sidebar-img{
   width: 85px;
   height: auto;;
}
.ts-grid-style-3 .ts-overlay-style {
   margin-bottom: 10px;
}
.featured-post-style .item {
   min-height: 504px;
}

/* footer content css*/
.footer-top{
    background: #000000;
    padding: 35px 0 35px;
}
.footer-menu ul li a{
    font-weight: 700;
    text-transform: uppercase;
    opacity: 1;
}
.footer-menu ul li:last-child a{
    margin-right: 0;
}
.footer-bottom{
    background: #0f0f0f;
    padding: 56px 0 40px;
}
.copy-right-text p,
.copy-right-text p a{
    color: #F9FBFA;
}

.footer-social-list li a{
    margin: 0 45px;
}
